.curbtn {
	cursor: pointer;
}

.content {
	width: 1059px;
	height: auto;
	margin: 0 auto;
	margin-top: 67px;
	position: relative;
	min-height: 758px;
}

.content_left {
	position: absolute;
	top: 0px;
	left: -180px;
}


.conleft .nav {
	width: 98px;
	height: 680px;
	background: #3b363a;
}

.conleft .nav ul li {
	cursor: pointer;
	padding: 15px 25px 35px 25px;
	width: 48px;
	height: 39.5px;
	border-top: 1px solid #423c3e;
	border-bottom: 1px solid #39312d;
}

.conleft .nav ul li:hover {
	background: #27a9e3;
}

.conleft .nav ul .on {
	background: #27a9e3;
}

.conleft .nav ul li .navimg {
	margin: 0 auto;
	width: 39px;
	height: 39px;
	text-align: center;
	margin-bottom: 12px;
}

.conleft .nav ul li a {
	color: #f0f0f0;
	font-size: 12px;
	font-family: "宋体";
}


.inputtext input {
	width: 180px;
	background: #5c5f63;
	border: 0px;
	color: #ffffff;
	height: 31px;
	line-height: 33px;
}

.leftBot {
	padding: 20px 33px 0 33px;
	width: 212px;
	height: 52px;
	background: #363a3e;
	border-top: 1px solid #363d43;
}


/*
.new_caidan ul{ width:607px;}
*/
.fenlei .new_caidan ul li {
	cursor: pointer;
	height: 32px;
	font-size: 12px;
	font-family: "宋体";
	line-height: 32px;
	background: #9a9999;
	padding: 0px 10px 0px 10px;
	color: #f0f0f0;
	margin-right: 11px;
	margin-bottom: 11px;
	float: left;
}

.fenlei .new_caidan ul li.on {
	background: #ec7501;
}

.caidanList .mealsList {
	width: 686px;
	height: 584px;
}

.caidanList .mealsList ul li {
	cursor: pointer;
	position: relative;
	float: left;
	margin: 1px;
	width: 96px;
	height: 96px;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #ffffff;
	background: #6dccf6;
}

.caidanList .mealsList ul li .danjia {
	height: 28px;
	margin-top: 20px;
	line-height: 48px;
	text-align: center;
	margin-bottom: 0px;
}

.caidanList .mealsList ul li .danjia span {
	margin-left: 3px;
	font-size: 18px;
}

.caidanList .mealsList ul li .caidanName {
	height: 48px;
	margin-top: 5px;
	text-align: center;
	margin-bottom: 0px;
}


.mealsStatus {
	background: #F00;
}


.shopSetTop {
	width: 1010px;
	height: 42px;
	background: #27a9e3;
}


.waimaiset .onset {
	background: #ec7501;
}

.waimaiset .jbset img {
	position: absolute;
	left: 15px;
}

.waimaiset .jbset .current {
	background: #ec7501;
}

.jutiSet {
	padding: 48px 0 36px 148px;
	width: 862px;
	height: auto;
	position: relative;
}

.jutiSet .serxuanze {
	width: 780px;
	height: 42px;
	margin-bottom: 18px;
}

.jutiSet .serxuanze .xuanze_left {
	float: left;
	width: 168px;
	height: 42px;
	background: #27a9e3;
}

.jutiSet .serxuanze .xuanze_left span {
	height: 42px;
	line-height: 42px;
	font-size: 14p;
	font-family: "宋体";
	color: #ffffff;
	float: right;
}

.jutiSet .serxuanze .xuanze_right {
	padding-left: 10px;
	float: left;
	width: 569px;
	line-height: 42px;
	color: #ffffff;
	font-size: 12px;
	height: 42px;
	background: #535251;
}

.jutiSet input {
	border: none;
}

.jutiSet .settijiao {
	width: 747px;
	height: 42px;
	margin-bottom: 18px;
}



.jutiSet .serxuanze .dianpu_right {
	padding-left: 10px;
	float: left;
	width: 569px;
	line-height: 42px;
	color: #ffffff;
	font-size: 12px;
	height: 42px;
	background: #535251;
}

.jutiSet .dianpu_right input {
	padding: 10px;
	height: 22px;
	color: #ffffff;
	background: #535251;
	border: none;
}


.upimg {
	width: 136px;
	height: 163px;
	background: #ffffff;
	position: absolute;
	right: 96px;
	top: 45px;
}


.file_xxiang input {
	width: 131px;
	line-height: 30px;
	padding-left: 5px;
	padding-top: 5px;
	height: 28px;
}


