
/********店铺设置***************/
.conWaiSet {
    width: 1011px;
    padding: 27px 24px 20px 24px;
    height: auto;
}

.shopSetTop {
    width: 1010px;
    height: 42px;
    background: #27a9e3;
}

.shopSetTop span {
    height: 42px;
    font-family: "微软雅黑";
    line-height: 42px;
    font-size: 16px;
    color: #ffffff;
    padding-left: 47px;
}


.jutiSet {
    padding: 48px 0 36px 148px;
    width: 862px;
    height: auto;
    position: relative;
}

.jutiSet .serxuanze {
    width: 780px;
    height: 42px;
    margin-bottom: 18px;
}

.jutiSet .serxuanze .xuanze_left {
    float: left;
    width: 168px;
    height: 42px;
    background: #27a9e3;
}

.jutiSet .serxuanze .xuanze_left span {
    height: 42px;
    line-height: 42px;
    font-size: 14 p;
    font-family: "宋体";
    color: #ffffff;
    float: right;
}

.jutiSet .serxuanze .xuanze_right {
    padding-left: 10px;
    float: left;
    width: 569px;
    line-height: 42px;
    color: #ffffff;
    font-size: 12px;
    height: 42px;
    background: #535251;
}

.jutiSet input {
    border: none;
}

.jutiSet .settijiao {
    width: 747px;
    height: 42px;
    margin-bottom: 18px;
}


.jutiSet .serxuanze .dianpu_right {
    padding-left: 10px;
    float: left;
    width: 569px;
    line-height: 42px;
    color: #ffffff;
    font-size: 12px;
    height: 42px;
    background: #535251;
}

.jutiSet .dianpu_right input {
    padding: 10px;
    height: 22px;
    color: #ffffff;
    background: #535251;
    border: none;
}

.upimg {
    width: 136px;
    height: 163px;
    background: #ffffff;
    position: absolute;
    right: 96px;
    top: 45px;
}


.file_xxiang input {
    width: 131px;
    line-height: 30px;
    padding-left: 5px;
    padding-top: 5px;
    height: 28px;
}














