
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1487146178279'); /* IE9*/
  src: url('iconfont.eot?t=1487146178279#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1487146178279') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1487146178279') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1487146178279#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  color: #A6A8B1;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianying:before { content: "\e619"; }

.icon-dianying1:before { content: "\e6db"; }

